version: "3.9"

services:
  php-fpm:
    build:
      context: ./php
      dockerfile: Dockerfile
    container_name: php-fpm
    volumes:
      - ./php/src:/var/www/html
    expose:
      - "9000"
    environment:
      - COMPOSER_ALLOW_SUPERUSER=1

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    depends_on:
      - php-fpm
    ports:
      - "8080:80"
    volumes:
      - ./php/src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
